model:
  name: SimpleDetection
  type: yolov6-n
  pretrained:
  params:
    n_classes: null

  additional_heads:
    - name: SegmentationHead
      params:
        n_classes: null
      loss: 
        name: FocalLoss
        params:

dataset:
  team_name: # TODO
  dataset_name: # TODO
  
train:
  preprocessing:
    train_image_size: [512,512]
  
  train_metrics_interval: 100
  validation_interval: 10
  
  optimizers:
    optimizer:
      name: SGD
      params:
        lr: 0.02
        momentum: 0.937
        nesterov: True
        weight_decay: 0.0005
    scheduler:
      name: CosineAnnealingLR
      params:
        T_max: 100
        eta_min: 0
        
  losses:
    log_sub_losses: True
    weights: [0.1, 1]
    
