model:
  name: SimpleClassification
  type:
  pretrained:

  backbone:
    name: MicroNet
    pretrained:

  heads:
    - name: ClassificationHead
      params:
        n_classes: null
      loss: 
        name: CrossEntropyLoss
        params:

dataset:
  team_name: luxonis # TODO
  dataset_name: coco_500 # TODO
